---
import { storyblokEditable } from '@storyblok/astro';
import { resolveMultilink } from '../../lib/storyblok-richtext';
import Icon from '../../components/Icon.astro';

export interface Props {
  blok: {
    buttonLink: {
      linktype?: string;
      cached_url: string;
    }
    buttonIcon: string;
    buttonText: string;
    buttonType: string;
  };
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  {blok.buttonLink &&
    <p class="text-center">
      <a href={resolveMultilink(blok.buttonLink)} target={blok.buttonLink.linktype === 'url' ? '_blank' : undefined} class={`${blok.buttonType} mb-2`}><Icon faClass={blok.buttonIcon} />{blok.buttonText}</a>
    </p>
  }
</div>
