---
import { storyblokEditable } from '@storyblok/astro';

export interface Props {
  blok: {
    buttonLink: {
      cached_url: string;
    }
    buttonIcon: string;
    buttonText: string;
    buttonType: string;
  };
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  {blok.buttonLink &&
    <p class="text-center">
      <a href={blok.buttonLink.cached_url} target="_blank" class={`${blok.buttonType} mb-2`}><i class={blok.buttonIcon}></i>{blok.buttonText}</a>
    </p>
  }
</div>
