---
import { getDatasource } from "../../lib/utils";

const hours  = await getDatasource("open-hours");
const exceptions  = await getDatasource("schedule-exceptions");

const dataBack = {
  weeklyHours: hours,
  scheduleExceptions: exceptions
};
---

<div>
  <h4>Gallery Hours</h4>
  <table>
      <thead>
          <tr>
              <td><strong>Day</strong></td>
              <td><strong>Hours</strong></td>
          </tr>
      </thead>
      <tbody>
        {dataBack.weeklyHours.map((hour: any) => (
          <tr>
              <td>{hour.name}</td>
              <td>{hour.value}</td>                  
          </tr>
        ))}
      </tbody>
  </table>
</div>

<div>
  <h4>Special Hours</h4>
  <table>
      <thead>
          <tr>
              <td><strong>Date</strong></td>
              <td><strong>Details</strong></td>
          </tr>
      </thead>
      <tbody>
        {dataBack.scheduleExceptions.map((exception: any) => (
          <tr>
              <td>{exception.name}</td>
              <td>{exception.value}</td>                  
          </tr>
        ))}
          
      </tbody>
  </table>
</div>
