---
import { storyblokEditable } from '@storyblok/astro';
import SvelteUnionSearch from "../../../src/components/Search/SvelteUnionSearch.svelte";
export interface Props {
  blok: {};
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="row pb-4">
    <h3 class="mb-4">Quick search digital collections</h3>
    <SvelteUnionSearch client:load />
</div>
