.hero-section {
  .container {
    position: relative;
  }
}

.hero-slider-item {
  padding: 250px 0 120px;
}

.hero-button {
  background-color: rgba(255,255,255,0.8);
  font-weight: 700;
  margin-top: 5px;

  &:hover {
    background-color: rgba(229, 229, 247, 0.8);
    color: inherit;
  }
}

.hero-slider {
  --swiper-theme-color: #054571;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bottom: 24px;

  .prevArrow,
  .nextArrow {
    position: absolute;
    bottom: 0;
    z-index: 11;
    padding: 15px;
    color: rgba($color: $white, $alpha: .5);
    border: 0;
    font-size: 30px;
    transition: all linear .2s;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .prevArrow {
    right: 60px;
  }

  .nextArrow {
    right: 0;
  }

  .swiper-pagination {
    text-align: left;
    padding: 0 5px;
  }
}