---
import { storyblokEditable } from '@storyblok/astro';
import RichText from '../storyblok/RichText.astro';

export interface Props {
	blok: {
    body: any;
  };
}

const { blok } = Astro.props
---

{blok.body && (
  <div {...storyblokEditable(blok)}>
    <RichText blok={{ body: blok.body }} />
  </div>
)}
