---
import Layout from '../layouts/Layout.astro';
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const storyblokApi = useStoryblokApi()
 
const { data } = await storyblokApi.get(
  `cdn/stories/main-site/main-site`,
  {
    version: import.meta.env.DEV ? 'draft' : 'published',
  }
)
 
const page = (data as any).story
---

<Layout title="Home" description="We use maps, geography, and history to explore the connections between places and people in Boston, New England, and beyond. Our collection of a quarter million goegraphic objects, our educational programs, and free exhibitions bring the power of historical geography to everyone.">
	<main slot="root">
    <StoryblokComponent name={page.name} blok={page.content} />
	</main>
</Layout>
