---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" description="We use maps, geography, and history to explore the connections between places and people in Boston, New England, and beyond. Our collection of a quarter million goegraphic objects, our educational programs, and free exhibitions bring the power of historical geography to everyone.">
	<main>
		<h1>Home</h1>
	</main>
</Layout>
