---
import { fetchLatestArticles } from '../../lib/storyblok-fetch';

const stories = await fetchLatestArticles(1);

const articles = stories.map((article: any) => {
  return {
    params: {
      name: article.name,
      slug: article.slug,
      publishedAt: article.content.publishDate,
    },
  }
})
---

{articles.length > 0 &&
  <li class="mb-3">
    <span class="badge bg-light font-secondary whats-new-badge me-1">Latest article</span>
    {articles.map((article: any) => (
      <a href={`/articles/${article.params.slug}`}>{article.params.name}</a> 
      <span class="text-secondary">
        {new Date(article.params.publishedAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric'})}
      </span>
    ))} · <a href="/articles/">More articles</a>
  </li>
}
