---
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories', {
  version: String(import.meta.env.STORYBLOK_IS_PREVIEW) == 'true' ? 'draft' : 'published',
  starts_with: 'main-site/',
  resolve_links: 'url',
  content_type: 'article-page',
  sort_by: 'content.publishDate:desc',
  per_page: 1,
})
let articles = data.stories
articles = Object.values(articles)
articles = articles.map((article: any) => {
  return {
    params: {
      name: article.name,
      slug: article.slug,
      publishedAt: article.content.publishDate,
    },
  }
})
---

{articles.length > 0 &&
  <li class="mb-3">
    <span class="badge bg-light font-secondary whats-new-badge me-1">Latest article</span>
    {articles.map((article: any) => (
      <a href={`/article/${article.params.slug}`}>{article.params.name}</a> 
      <span class="text-secondary">
        {new Date(article.params.publishedAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric'})}
      </span>
    ))} · <a href="/article/">More articles</a>
  </li>
}
