---
import { getDatasource } from "../../lib/utils";

const hours  = await getDatasource("14355", "open-hours");
const exceptions  = await getDatasource("14397", "schedule-exceptions");

const dataBack = {
  weeklyHours: hours,
  scheduleExceptions: exceptions
};

const today = new Date().toLocaleDateString('en-US', {weekday: 'long'});
const todayDate = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric'});

let showException = false;

dataBack.scheduleExceptions.forEach((exception: any) => {
  if (exception.name === todayDate) {
    showException = true;
  }
});
---

<li class="mb-3">
  <span class="badge badge-secondary bg-light font-secondary whats-new-badge">Today's hours</span>

  {showException &&
    <>
      {dataBack.scheduleExceptions.map((exception: any) => (
        <>
          {exception.name == todayDate &&
            <>
              {todayDate} · <strong>{exception.value}</strong> · <a href="/about/hours-directions">More hours</a>
            </>
          }
        </>
      ))}
    </>
  }
  
  {!showException &&
    <>
      {dataBack.weeklyHours.map((day: any) => (
        <>
          {day.name == today &&
            <>
              <>
                {today}
              </>
              <>
                {day.value}
              </>
              · <a href="./about/hours-directions">More hours</a>
            </>
          }
        </>
      ))}
    </>
  }
</li>