---
import Layout from "../../layouts/Layout.astro";
import UnionSearch from "../../components/Search/UnionSearch.svelte";
---

<Layout title="Search">
    <section class="section-sm">
        <div class="col-12 mb-5 content">
            <h3 class="mb-4">Search this website</h3>
            <div><p>Search this website for an overview of our programs, departments, and events.</p></div>

            <div class="input-group mt-3 mb-5">
                <input
                    type="text"
                    class="form-control"
                    id="website-search-entry"
                    placeholder="Search LMEC website"
                    aria-label="Search LMEC website"
                    aria-describedby="website-search-submit"
                />
                <div class="input-group-append">
                    <button
                        class="btn btn-primary"
                        type="button"
                        id="website-search-submit">Search</button
                    >
                </div>
            </div>

            <script>
                function submitSiteSearch() {
                    window.open(
                        "https://www.google.com/search?client=safari&source=hp&ei=QHecX82iOM_BytMP6deWiAg&q=site%3Aleventhalmap.org+" +
                            encodeURI(
                                document.getElementById("website-search-entry")
                                    .value,
                            ),
                    );
                }
                document
                    .getElementById("website-search-submit")
                    .addEventListener("click", submitSiteSearch);
                // Bind to enter key
                document
                    .getElementById("website-search-entry")
                    .addEventListener("keyup", function (e) {
                        if (e.keyCode == 13) {
                            submitSiteSearch();
                        }
                    });
            </script>
        </div>

        <div class="col-12 mb-5 content">
            <h3 class="mb-4">Search digital collections</h3>
            <div class="mb-4">
                <p>Search the Digital Collections portal and Internet Archive for digitized material. See <a href="/collections/digital-collections">Digital Collections</a> for more information and advanced search options.</p>
            </div>
            <UnionSearch client:load />
        </div>

        <div class="col-12 mb-5 content">   
            <h3 class="mb-4">Search the catalog</h3>
            <div>
                <p>Search the Bibliocommons catalog for collections records. See <a href="/collections/searching">Searching the Collections</a> for more detailed search options.</p>
            </div>

            <div class="input-group mt-3 mb-5">
                <input
                    type="text"
                    class="form-control"
                    id="bibliocommons-search-entry"
                    placeholder="Search titles, creators, keywords"
                    aria-label="Search keywords"
                    aria-describedby="bibliocommons-search-submit"
                />
                <div class="input-group-append">
                    <button
                        class="btn btn-primary"
                        type="button"
                        id="bibliocommons-search-submit">Search</button
                    >
                </div>
            </div>

            <script>
                function submitBibliocommonsSearch() {
                    window.open(
                        "https://bpl.bibliocommons.com/v2/search?query=anywhere%3A%28" +
                            encodeURI(
                                document.getElementById(
                                    "bibliocommons-search-entry",
                                ).value,
                            ) +
                            "%29+++branch%3A%22BPL+-+Leventhal+Map+Center%22+-formatcode%3A%28AB+OR+GRAPHIC_NOVEL_DOWNLOAD+OR+VIDEO_DOWNLOAD+OR+EBOOK+OR+EJ+OR+PLAYAWAY_AUDIOBOOK+OR+MN+OR+MUSIC_ONLINE+OR+VIDEO_ONLINE+OR+MAG_ONLINE+OR+EAUDIOBOOK%29&searchType=bl&suppress=true",
                    );
                }
                document
                    .getElementById("bibliocommons-search-submit")
                    .addEventListener("click", submitBibliocommonsSearch);
                // Bind to enter key
                document
                    .getElementById("bibliocommons-search-entry")
                    .addEventListener("keyup", function (e) {
                        if (e.keyCode == 13) {
                            submitBibliocommonsSearch();
                        }
                    });
            </script>
        </div>
    </section>
</Layout>
